
{% extends "base.html" %}
{% block title %}File Types{% endblock %}


{% block content %}

  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">

          <button class="btn btn-primary" data-toggle="collapse" data-target="#AddAFT">Add Artefact File Type</button>
          <div id="AddAFT" class="collapse">
            <form>
              <div class="form-group">
                <label for="type">Type:</label><input type="text" class="form-control" id="AFTType">
                <label for="type">Format:</label><input type="text" class="form-control" id="AFTFormat">
                <label for="type">Encoding:</label><input type="text" class="form-control" id="AFTEncoding">
                <label for="type">FieldSeparator:</label><input type="text" class="form-control" id="AFTFieldSeparator">
                <label for="type">RowSeparator:</label><input type="text" class="form-control" id="AFTRowSeparator">
                <label for="type">TextQualifier:</label><input type="text" class="form-control" id="AFTTextQualifier">
                
                </div>
              <button type="button" class="btn btn-success" onclick="addAFT()">Submit</button>
            </form>
          </div>

      </div>
    </div>
</div>

<div class="panel-group">
      <div class="panel panel-info">
      <div class="panel-heading">
        {% for afs in AFTList %}
         <div class="panel panel-info">
           <div class="panel-heading">
            <h3 class="panel-title">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ afs['ArtefactFileTypeID'] }}" aria-expanded="true" >  {{ afs['DisplayName'] }}  </button>
            </h3>
          </div>
          <div id={{ afs['ArtefactFileTypeID'] }} class="panel-collapse collapse">
            <div class="container"><button class="btn btn-danger" onclick="deleteAFT('{{ afs['ArtefactFileTypeID']}}')">Delete</button>
              <span><button class="btn btn-success" onclick="setAndOpenAFTModal('{{ afs['ArtefactFileTypeID']}}')">Edit</button> </span></div>
            <div class="panel-body">
             <div class="container">                 
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>                      
                    </tr>
                  </thead>
                 <tbody>  
                        {% for t in afs %}
                            <tr>
                              <td> {{ t }} </td>
                              <td>{{ afs[t] }}</td>
                            </tr>    
                           {% endfor %}  
                  </tbody>
                </table>
                 </div>
             </div>
            </div>
          </div>
           {% endfor %}
        
              
      
       </div>

      </div>
    </div>

  
   <div id="UpdateAFTModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update AFT</h4>
        </div>
        <div class="modal-body">
          <div class="form-group"  >
               <label for="UpdAFTHiddenid">ID</label>
               <input class="form-control" id="UpdAFTHiddenid" name="UpdAFTHiddenid" placeholder="" type="text" readonly />
               <label for="UpdAFTType">Type</label>
               <input class="form-control" id="UpdAFTType" name="UpdAFTType" placeholder="" type="text" />
               <label for="UpdAFTFormat">Format</label>
               <input class="form-control" id="UpdAFTFormat" name="UpdAFTFormat" placeholder="" type="text" />
               <label for="UpdAFTEncoding">Encoding</label>
               <input class="form-control" id="UpdAFTEncoding" name="UpdAFTEncoding" placeholder="" type="text" />
               <label for="UpdAFTFieldSeparator">FieldSeparator</label>
               <input class="form-control" id="UpdAFTFieldSeparator" name="UpdAFTFieldSeparator" placeholder="" type="text" />
               <label for="UpdAFTRowSeparator">RowSeparator</label>
               <input class="form-control" id="UpdAFTRowSeparator" name="UpdAFTRowSeparator" placeholder="" type="text" />
               <label for="UpdAFTTextQualifier">TextQualifier</label>
               <input class="form-control" id="UpdAFTTextQualifier" name="UpdAFTTextQualifier" placeholder="" type="text" />
               
               </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="updateAFT()">Save changes</button>
      </div>
      </div>

    </div>
  </div>


{% endblock %}


